:root
{
  --background-color:rgba(255,255,255,0.15);
    --border-color: rgba(255, 255, 255, 0.25);
  --text-color: #f0f0f0;
  --primary-color: #4a90e2;
  --primary-hover-color: #357abd;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
   background-image: url(./Hex\ Puzzle.png); 
   background-size: cover;
   background-position: center;
   color: var(--text-color);
   padding: 1rem;
}

.converter-container
{
  width: 40%;
  min-width: 300px;
  padding: 2rem;
  background: var(--background-color);
  border-radius: 16px;
  backdrop-filter: blur(8px);
   -webkit-backdrop-filter: blur(12px);
     border: 1px solid var(--border-color);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.converter-form
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.converter-form h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-row
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.form-row label
{
font-weight: 500;
}

.form-row input[type="number"]
{
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: transparent;
  color: var(--text-color);
  font-size: 1rem;
}


.form-row input[type="number"]::-webkit-inner-spin-button,
.form-row input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

.form-row input[type="number"]:focus
{
  outline: none;
   border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
}

.currency-selector
{
  display: flex;
  align-items: center;
  gap: 0.5rem;
   border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 0.5rem;
}

.currency-selector img {
  width: 32px;
}


.currency-selector select
{
  border: none;
  background: transparent;
    color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

.currency-selector select:focus {
  outline: none;
}

.currency-selector select option
{
  background-color: #2c3e50; 
}

.swap-icon
{
  text-align: center;
  /* font-size: 1.2rem; */
  cursor: pointer;
  transition: transform 0.3s ease;
  margin: 1rem;
}

.swap-icon:hover
{
    transform: rotate(180deg);
  color: var(--primary-color);
}

.submit-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 4rem;

}

.submit-btn:hover {
  background-color: var(--primary-hover-color);
}



